* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header h1 {
  text-align: center;
  color: white;
}

.content-box {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ced6e0;
  padding: 10px;
  margin: auto;
}

.quote {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.35rem;
}

.quote p {
  text-align: right;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -50px;
}

.buttons button,
a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  margin: 0 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: filter 0.5s ease;
}

.buttons button {
  border: none;
  outline: none;
  cursor: pointer;
}

.buttons button:hover,
a:hover {
  filter: grayscale(50%) !important;
}

.credits {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits a {
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.credits a img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (min-width: 900px) {
  .content-box {
    width: 60%;
    height: 60vh;
  }
}
